@mixin container($max : 800px) {
  width: 100%;
  max-width: $max;
  margin: auto;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  @include container();
  margin-top: 2rem;

  &-left {
    width: 100%;
    max-width: 33.33%;
  }

  &-content {
    width: 100%;
    max-width: 33.33%;
  }

  &-right {
    width: 100%;
    max-width: 33.33%;
  }
}

.posts {
  $gap : 8px;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  @include container();

  article {
    flex: 0 0 auto;
    width: calc(33.33% - $gap);
    overflow: hidden;
    height: max-content;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.container-practice {
  @include container();
}